{:deps {
        ; DB
        org.postgresql/postgresql {:mvn/version "42.2.2"} ; hugsql
        org.clojure/java.jdbc {:mvn/version "0.7.5"}      ; hugsql
        org.xerial/sqlite-jdbc {:mvn/version "3.7.2"}     ; hugsql
        com.layerware/hugsql {:mvn/version "0.5.1"}
        ;HTTP
        compojure/compojure {:mvn/version "1.6.2"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        ring/ring-core    {:mvn/version "1.9.4"}
        ring/ring-json    {:mvn/version "0.5.1"}
        ;clj-http-lite/clj-http-lite {:mvn/version "0.4.3"}
        }
 :paths ["src" "classes"]
 :aliases {:native-image {:main-opts ["-m" "clj.native-image" "psiclj"
                                      "--initialize-at-build-time"
                                      "--no-fallback"
                                      "--allow-incomplete-classpath"
                                      "-H:IncludeResources=.*html$"
                                      ;; optional native image name override
                                      ;"-H:Name=psiclj"
                                      ]
                          :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                          :extra-deps
                          {clj.native-image/clj.native-image
                           {:git/url "https://github.com/taylorwood/clj.native-image.git"
                            :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}
           :uberjar {:extra-deps {uberdeps {:mvn/version "1.1.0"}}
                     :main-opts  ["-m" "uberdeps.uberjar" "--target" "psiclj.jar"]}}}
